.bg-cyan-500 {
    background-color: #0dcaf0;
}
.bg-cyan-700 {
    background-color: #087990;
}
.bg-cyan-800 {
    background-color: #055160;
}
.bg-cyan-900 {
    background-color: #032830;
}

.text-cyan-500 {
    color : #0dcaf0;
}
.text-cyan-700 {
    color : #087990;
}
.text-cyan-800 {
    color : #055160;
}
.text-cyan-900 {
    color : #032830;
}

.text-gray-100 {
    color : #f8f9fa;
}
.text-gray-200 {
    color : #e9ecef;
}
.text-gray-500 {
    color : #adb5bd;
}
.text-gray-700 {
    color : #495057;
}
.text-gray-800 {
    color : #343a40;
}

.bg-gray-100 {
    background-color : #f8f9fa;
}
.bg-gray-200 {
    background-color : #e9ecef;
}
.bg-gray-500 {
    background-color : #adb5bd;
}
.bg-gray-700 {
    background-color : #495057;
}
.bg-gray-800 {
    background-color : #343a40;
}

